
.container{ 
    background-color:transparent;
    margin-bottom: 5px;
    border-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

